body {
    background-color: #f9f7fe;
}
.vanilla-weather-app {
    background: linear-gradient(120deg, #0d3642 0%, #103e6d 100%);
    margin: 45px auto;
    max-width: 600px;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(38, 37, 41, 0.08);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#f9f7fe;
}  
  .search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 13px 20px;
    font-size: 16px;
  }
.button {
    background: #6897c5;
    padding: 13px 20px;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    color: #f9f7fe;
    font-size: 16px;
}
